[2018-09-08 10:08] leoromanovsky opened #2 "null pointer exception when key exists but not attributes"
When a lock is loaded using a certain key, but none of the other attributes exist in the table, the following code throws a null pointer exception: https://github.com/ucirello/dynamolock/blob/master/client.go#L593-L611

When parsing the date. I believe it should be modified to be more defensive and raise an error whenever one of the expected attribute values is missing.

I'm happy to submit a revi

[2018-09-08 10:56] leoromanovsky opened #3 "no lock present in dynamodb causes crash in Get"
https://github.com/ucirello/dynamolock/blob/master/client.go#L1046

When the next line `lockItem.isReleased` is called

[code]

My thinking is that `lockItem` should be checked for `nil` and the function return an error.

[2018-09-14 03:02] ucirello commented on #2
@leoromanovsky Thanks for reporting this bug! And sorry for the closed PR.

[2018-09-14 03:03] ucirello commented on #2
You should use cirello.io/dynamolock instead.

[2018-09-14 03:10] #3 closed

[2018-09-14 03:12] ucirello commented on #2
@leoromanovsky can you provide a test case that proves the bug?

[2018-09-14 03:47] ucirello commented on #2
@leoromanovsky could you please confirm whether dd91cad fixes the case?

[2018-09-14 03:49] ucirello commented on #2
@leoromanovsky I am going to close this - but please reopen if necessary.

[2018-09-14 03:49] #2 closed

[2019-02-02 16:41] davidjumani opened #6 "Additional Attributes lost when aquiring lock again"
Additional Attributes lost when we try to acquire lock again. Can add the following to client.go at line 359 to fix it :
	if existingLock != nil {
		for k, v := range existingLock.additionalAttributes {
			item[k] = v
		}
	}

[2019-02-02 23:10] #6 closed

[2019-02-02 23:14] ucirello commented on #6
Thanks for the suggestion @davidjumani

[2019-03-04 17:59] davidjumani opened #8 "Stale Additional Attributes"
When Load testing, stale additional attributes are saved instead of the updated ones when acquiring the lock, due to a custom update during the time between the getItem and the putItem. Instead, could just use an updateItem when acquiring the lock instead ?

[2019-03-04 20:20] ucirello commented on #8
I am not sure I understand what you are reporting. Could you please provide me with a reproduction case?

[2019-03-04 22:27] davidjumani commented on #8
From what I can see, we first do a getItem() to retrieve the details of the existing lock, followed by a putItem() to store the current lock. However, during the time between the getItem() and the putItem(), if the locked row's additional attributes have been changed, they get overwritten by the stale attributes fetched in the prior getItem() during the getLockFromDynamoDB() call. To solve this, w

[2019-03-05 01:29] ucirello commented on #8
@davidjumani I think I understand what you are saying.

I still need a piece of code that I can use to reproduce the problem - otherwise, I am going to be guessing if I actually found the problem or not.

[2019-03-05 01:35] ucirello commented on #8
@davidjumani could you please share the piece of code that reproduces this behavior? I'd rather use a piece of code you give to reproduce the problem instead of guessing what the problem actually is.

[2019-03-05 01:54] ucirello commented on #8
Just another note, I am inclined to say that maybe this is working as intended. The additional attributes of a lock must not be overwritten by mutually exclusive acquisition requests.

[2019-03-06 04:48] davidjumani commented on #8
`
package main

import (
	"time"
	"net/http"
	"strconv"
	"reflect"

	"github.com/go-chi/chi"

	log "github.com/Sirupsen/logrus"

	"cirello.io/dynamolock"

	"github.com/aws/aws-sdk-go/aws"
	"github.com/aws/aws-sdk-go/aws/session"
	"github.com/aws/aws-sdk-go/service/dynamodb"
	"github.com/aws/aws-sdk-go/service/dynamodb/expression"

)

var tableName string
var partitionKey string
var svc *dynamodb.D

[2019-03-06 07:03] davidjumani commented on #8
Updating the records as there's no save modified attributes on close.
Bombard the api with around 30 concurrent requests via j meter.
The additional attribute `i` should finally be 30, but instead is much lower
Possibly due to executing updateRecord()  in test() occurring between the getItem() and putItem() while trying to acquire the lock by another simultaneous request.
[test.txt](https://github

[2019-03-06 11:41] ucirello commented on #8
Thanks for the code snippet.

It is working as intended. The dynamodb entity holding locks shouldn't be modified out of the library.

The right thing to do here is to use the dynamolock to hold a lock while operating on something else.

[2019-03-06 11:42] #8 closed

[2019-03-06 15:29] davidjumani commented on #8
However, there is no option to modify the attributes and save them while releasing the lock. Perhaps that could be an additional feature?

[2019-03-06 16:35] ucirello commented on #8
@davidjumani that would certainly be an enhancement, although I fail to see if this would be useful to the majority of the users of dynamolock.

Would you like to give it a try coding this and open a PR?

[2019-03-08 19:01] davidjumani commented on #8
Sure. I'm working on it!

[2019-06-12 19:23] kevin535nivek opened #14 "Heartbeat will not start when a lock is acquired if it was recently stopped"
We are seeing a lot of lock release failures in our application. After turning on the logs and digging through the code, this problems seems to trace back to a bug in the heartbeat code. When all locks are returned and the heartbeat goroutine exits, if a lock is immediately acquired, the `lastHeartbeat` is too recent to start another heartbeat. Because `enforceHeartbeat()` is only called when a lo

[2019-06-12 19:52] ucirello commented on #14
Thanks for the reporting. Could you please provide a reproduction case in code of this failure?

[2019-06-12 21:19] kevin535nivek commented on #14
I was going to provide some code to reproduce it later, but it looks like you already made a patch with a  test that checks this failure case. Thanks for the quick response.

[2019-06-12 21:23] #14 closed

[2019-06-12 21:24] macdonsp commented on #14
This can also create a goroutine leak if the iteration that goes through all of the locks is slow, and c.lastHeartbeat doesn't get updated in time, another goroutine will be created. The will both continue to exist until all locks are removed

[2019-06-12 21:25] ucirello commented on #14
@macdonsp could you please open another issue?

[2019-06-12 21:28] macdonsp opened #15 "The heartbeat can leak goroutines"
Noticed in testing that the heartbeat can leak goroutines if checking locks is slow. In 'heartbeat' if the update to c.lastHeartbeat takes longer than 2*c.heartbeatPeriod, enforceHeartbeat will create another goroutine that will exist until all locks are removed

[code]

[2019-06-12 21:38] ucirello commented on #15
Thanks for the report. This deserves a more deep fix.

[2019-06-12 23:31] #15 closed

[2019-08-28 14:13] costela opened #42 "please provide a channel-based expiration API"
Hi,

I believe it would be nice to have a `chan` based mechanism for being notified of lock expiration. This would make some use-cases slightly more usable by avoiding polling on `lock.IsExpired()`.

I'll try to cook up a small PR to get the ball rolling.

[2019-08-28 15:34] ucirello commented on #42
This seems a legitimate problem. I wonder whether we should replicate here the `Do` interface from pglock - https://godoc.org/cirello.io/pglock#Client.Do

I suggest you propose this design change here first before crafting a PR. In its current state #43 is wrong.

[2019-08-28 15:44] ucirello commented on #42
Probably a good angle to start attacking this need is by understanding what are the events the generate a lock release (either by intention or accidental loss) and probably plug into that even a channel-based API.

[2019-08-28 16:02] costela commented on #42
Personally I'd go for a first sound approach first (or at least as sound as a non-quorum-based distributed lock can be), and plug separate event sources later. The current attempt at #43 does this: it encapsulates the polling away from the user and accomodates for heartbeats "refreshing" the lock. AFAICT it is as sound as `IsExpired()`.

As far as I can see in the code (I might of course be missin

[2019-08-28 16:12] costela commented on #42
OTOH, if you think the `Lock.Expiration()` channel should also report releases, that would also be doable, of course.

[2019-08-28 16:14] ucirello commented on #42
I think `IsExpired()` and `OnExpiration()` should both have the same meaning - they would be different delivery modes but have the same meaning.

[2019-08-28 16:35] ucirello commented on #42
Another important concern is that `OnExpiration` should neither leak goroutines nor block after notification. Meaning probably its signature would be `OnExpiration(context.Context)`. If this is suppose to block and send a message in a channel, we should probably leave the channel out of its API.

Thusly, not this:
[code]

but
[code]
(where WaitExpiration is a blocking call - no need to expose chan

[2019-08-28 21:10] costela commented on #42
Fair point.

In its current implementation, it doesn't leak goroutines as long as the lock eventually expires. The blocking also shouldn't be a problem, with the same assumption. AFAICT it's impossible to provide an "infinite" `leaseDuration`, in which case this assumption would be safe.
However, a couple of extra tests for those cases wouldn't hurt. I'll give it a shot tomorrow.

IMHO a `context`

[2019-08-28 21:43] ucirello commented on #42
In the end it's your call, of course.

Goroutines are cheap, but they are not free. Also, how would you handle the situation in which the caller doesn't want to wait for the lock anymore? In the case of a coarse-grained lock, let's say of 24h, the worst-case scenario is a goroutine hanging around for 24h? If I understand what you are proposing, it does not seem to be the correct behavior.

I under

[2019-08-28 22:26] ucirello commented on #42
One a side note, I wonder how this call would interact when the client is started with heartbeats disabled.

[2019-08-29 05:32] ucirello commented on #42
I finished investigating this, and it won't matter.

[2019-08-30 16:07] costela commented on #42
Yes, that's why I mentioned _price_. It's a clear trade-off.
But if you prefer a slight increase in API complexity to cover the long-lease case, that's also fine.

The standard library doesn't attempt to deal with distributed (in the multi-agent sense) cases, so it has a different set of limitations to work with. Not to mention the fact that it must strive to be a least common denominator of sorts

[2019-08-30 16:07] #42 closed

[2019-08-30 16:11] ucirello commented on #42
They are blocking calls because it would make considerably less sense to assume asynchronicity when you are expecting a workable return value (the Conn in the first case; the file data in the second).
A much more valid comparison would be with Context.Done() or with CloseNotifier.CloseNotify(). These are cases where asynchronicity is intrinsic to the problem at hand (just like the distributed lock

[2019-09-01 13:07] theist opened #44 "Is there a way to acquire "lost" unreleased locks by other clients?"
Maybe I'm just doing something wrong. I've created a small program based on the example provided that acquire a lock, but it does not close the client because I want to control a program that runs in two seconds every 5 minutes or so but needs to lock the execution in other nodes during more than 5 minutes.

My plan was to create a lock with a lease of 6 minutes and check for the lock before start

[2019-09-01 22:43] ucirello commented on #44
TL;DR: if you remove `dynamolock.FailIfLocked()`, the code will probably do what you want it to.

It seems what you are describing here is the leader election pattern. Is this correct?

The lease duration is stored in the lock entry. Even if you reconfigure the client to use a different time in a second run, the stored lease time in the first one is what the dynamolock client is going to use to te

[2019-09-02 07:42] theist commented on #44
Oh, I see. Leftover locks are watched during the lease time, regardless of when they're created

[code]

Not sure. I'm more Sysadm / DevOps guy And I'm afraid my needs are more simple. I'm just triying to create a distributed version of [`flock`](https://linux.die.net/man/1/flock) so, a program that `os.Exit(1)` if it fails to get a lock and plan to use it in cron like `dlock && <struff to lock>`

[2019-09-02 07:42] #44 closed

[2019-10-03 16:15] aashishkapur opened #52 "Getting contents of lock without acquiring the lock"
Hi,
I was trying to get the contents of a lock without acquiring the lock, but found that when I tried to get the lock,
[code]
I received a lock with no data.

I looked into `Get`, and found that this branch was getting executed: https://github.com/cirello-io/dynamolock/blob/master/client.go#L906, because the lock is currently not held. Therefore, an empty lock is returned, with no data.

I'm happ

[2019-10-03 16:18] aashishkapur commented on #52
code snippet:
[code]

[2019-10-03 16:43] ucirello commented on #52
@aashishkapur thanks for the report. I suspect the code is working fine. I just reviewed the tests here, and they do seem to validate `Get()`. Could you provide a piece of code that proves the problem?

Also, I suggest you refer to the test `TestReadLockContent` in client_test.go (https://github.com/cirello-io/dynamolock/blob/master/client_test.go#L149-L209) which shows how to use this feature.

[2019-10-03 16:59] #52 closed

[2019-10-03 16:59] ucirello commented on #52
Hi @aashishkapur - I found the bug. Thanks for the report. The fix is merged.

[2019-10-16 20:32] herzo175 opened #56 "AcquireLock fails if conditional lock creation fails"
Hello!

I'm running into this error when acquiring a lock:

`cannot store lock item: lock already acquired by other client: ConditionalCheckFailedException: The conditional request failed`

This seems to happen when multiple clients are waiting for a lock and the read request succeeds for at least 2 of them, causing the conditional lock put request to be invoked at the same time. My proposal is th

[2019-10-16 21:50] ucirello commented on #56
Hi @herzo175 - I am afraid I don't understand your description of the problem.

Could you please share a snippet that proves it?

[2019-10-18 03:10] ucirello commented on #56
Fix published. Thanks for the report @herzo175

[2019-10-18 03:27] herzo175 commented on #56
Works great, thank you so much @ucirello !

[2019-10-18 03:27] #56 closed

[2020-02-24 18:12] wongkristen opened #76 "Composite key support and checking lock before aquiring"
Hi @ucirello --

I just have a couple of questions about some features that are currently available in the Java version of the DynamoDB lock client developed by AWS Labs, but not yet available in this in this Go version:

1. Do you plan to add support for lock tables with composite keys? Currently the lock client only supports tables with partition key only and has no option for providing the sort

[2020-02-24 18:35] ucirello commented on #76
hi @wongkristen

I have limited availability to work on this package and keep it on par with the Java one. This means it has fewer features. Now to your questions:

I don't have plans as of now, but PRs are very welcome. I didn't do it because I didn't need it, but I can see it being useful for the whole user base.

Could you perhaps elaborate on exactly what you want to accomplish? This question

[2020-02-26 14:46] ucirello commented on #76
ping @wongkristen

[2020-02-26 19:05] wongkristen commented on #76
Hey @ucirello, thanks for the quick response!

1. I will keep this in mind, maybe send a PR your way in the future :)
2. I believe I found a solution for my issue with this.

I really appreciate your help and support, closing out this issue.

[2020-02-26 19:05] #76 closed

[2020-04-08 21:59] taylor-sutton opened #83 "Support serialization of locks or allow acquire to succeed if we already own the lock."
In my use case, a lock is held during the course of a workflow which spans multiple services. I have not found a way to do this using `dynamolock` as:
* `Lock` can't be serialized in any meaningful way since it doesn't export any fields.
* I could imagine trying to use `AcquireLock` with the same owner to essentially heartbeat the lock and have the second service create a `Lock`. But that doesn't

[2020-04-08 22:09] taylor-sutton opened #84 "Any way to wait for a lease to timeout other than an AcquireLock call?"
Use case: I have short-lived processes where I can't really wait for my whole lease duration all at once and hope that I get the lock, even with, say, 1-minute leases. I'd rather check if key is locked and if it is, spin down the process/allow it to move on and then check again after lease duration if the rvn has changed. Basically what AcquireLock already does, but manually so I can do other stuf

[2020-04-08 22:23] ucirello commented on #84
@taylor-sutton -- thanks for reaching out.

If I understand correctly what you are asking, what you want is the manual heartbeat support. Create a client with heartbeat disabled (https://godoc.org/cirello.io/dynamolock#DisableHeartbeat), and then manually call the `client.SendHeartbeat` (https://godoc.org/cirello.io/dynamolock#Client.SendHeartbeat) to prove that you still own the lock. This second

[2020-04-08 22:35] ucirello commented on #83
thanks for the question @taylor-sutton

I must say that both proposition feels a bit XYProblem-kind solutions for me (http://xyproblem.info/).

It seems that you have a sequential pipeline and you'd want to rely on a single lock to coordinate the hand-over between the steps of this pipeline. If I understood you correctly, none of those propositions would work.

Serializing the current state of the

[2020-04-10 16:34] ucirello commented on #84
Hey @taylor-sutton - I am going to close this issue. Please reopen it if you need more support. Thanks

[2020-04-10 16:34] #84 closed

[2020-04-10 16:34] ucirello commented on #83
Hey @taylor-sutton - I am going to close this issue. Please reopen it if you need more support. Thanks

[2020-04-10 16:34] #83 closed

[2020-08-31 21:01] jtackaberry opened #106 "How to cancel AcquireLock()?"
I'd like to have my process abort cleanly (and swiftly) upon SIGINT, but `Client.AcquireLock()` blocks for up to the lease time if the lock is already acquired (or it's stale).

At first I thought I could use `FailIfLocked()` and implement my own retry loop, but then I got bit by #44 because the stale lock detection is bypassed in that case.

I don't entirely understand the recommendation in #84,

[2020-08-31 22:40] ucirello commented on #106
Thanks for the report. @jtackaberry could you please test https://github.com/cirello-io/dynamolock/commit/829fa9ac2bb76c0fd56dcbb0349d22de781f7c80 ?

If it works for you, then I am going to make a release.

[2020-08-31 22:42] jtackaberry commented on #106
Wow, that was staggeringly quick.  Were you sitting on that? ;)

Will take this out for a spin tonight.  Thanks @ucirello!

[2020-08-31 23:19] jtackaberry commented on #106
So far so good, @ucirello.  Previous code compiled and worked fine with the changes, and using the new `AcquireLockWithContext()` method is working as expected.  I have a long running process that maintains a lock, which I can leave running overnight and will report back in a few hours.

I also just submitted a PR to tidy up a couple places where `time.Sleep()` was being called, preventing quicker

[2020-09-01 15:14] jtackaberry commented on #106
Process has been running for 14 hours.  No problems to report.

[2020-09-01 15:25] ucirello commented on #106
https://github.com/cirello-io/dynamolock/releases/tag/v1.4.0 is now available.

[2020-09-01 15:25] #106 closed

[2020-10-09 18:02] novaturient95 opened #113 "support for int64 leaseDuration"
Hi, can you add support to save `leaseDuration` in int64 (`time.Duration().Milliseconds()`) . This would make it compatible to Java lock client, since it is trying to fetch `leaseDuration` as `AtomicLong` and that is causing `java.lang.NumberFormatException`

[2020-10-09 18:46] ucirello commented on #113
Hi @novaturient95, thanks for this issue.

Could you please produce snippets of code both in Java and Go showing the problem?

[2020-10-12 08:00] novaturient95 commented on #113
Thanks @ucirello for your response.

When persisting leaseDuration to DB in dynamoLock (https://github.com/cirello-io/dynamolock/blob/master/client.go#L604), it is saving duration as string. So lease duration 3s  will be saved as '3s'. But Java client expects it to be a Long and in ms,
i.e it is expecting something like '3000'.

AmazonDynamoDBLockClient : https://github.com/amazon-archives/dynamod

[2020-10-12 14:20] ucirello commented on #113
hi @novaturient95 -- I think this change can be done. PRs are always welcome. You are welcome to try and fix it. Keep in mind that you need to make sure it is backward compatible with previous versions. Thanks again for the report.

[2020-10-18 19:19] ucirello commented on #113
Please - reopen this issue when you have a PR ready. Thanks

[2020-10-18 19:19] #113 closed

[2020-10-21 09:09] sitilge opened #116 "lock.IsExpired() always returns true"
Hi,

I've started using the nice project and maybe I am getting some things wrong, but things are breaking for me. So I am using the Cobra library for building a CLI app and using dynamolock for locking/unlocking a critical section. The workflow then is as follows

[code]
I was following the given example, and the locking part (when I call `my-command lock`) is as follows:

[code]
And then, when I

[2020-10-21 14:09] ucirello commented on #116
Hi @sitilge - Thanks for you message.

I would say your understanding is correct and you are not missing anything here.

I believe the solution to your problem is to hold the lock while you execute the underlying commands. Like: https://github.com/cirello-io/dynamolock/blob/master/_examples/cmd/lock/main.go

[2020-10-21 14:17] sitilge commented on #116
Hi,

A bit tangential, but I found a solution - having a simple background process, e.g. a process listening to port, does the job incredibly well. Then the CLI can be used as a frontend and call the process actually responsible for locking.

[2020-10-21 14:17] #116 closed

[2020-11-09 19:10] finferflu opened #120 "ResourceNotFoundException while attempting to create a new table"
I've used the sample code in the README file, and while running for the first time, I can see this error:

[code]

By looking at the AWS Console, I can see that the DynamoDB table is still being created when that error comes up and a subsequent run is successful. I haven't looked into the code, however, I think we need the `CreateTable` to wait until the create operation is complete before exiting

[2020-11-10 14:37] ucirello commented on #120
Hi @finferflu - thanks for this report. I am hazy with the idea of making create table waiting on creation, at the same time, it would be better to make the documentation less frustrating. I am going to think of something and try and fix this situation somehow.

[2020-11-10 15:08] ucirello commented on #120
Hi @finferflu -- see if https://github.com/cirello-io/dynamolock/commit/ed2a3ee772b7f1ef6c9cf5c0c284f04d5e6a499f works for you please

[2020-11-10 16:43] finferflu commented on #120
Hi @ucirello,

Thanks for the quick response. I have tried with `ed2a3ee` but I'm getting exactly the same issue, unfortunately.

[2020-11-11 17:42] ucirello commented on #120
@finferflu -- I updated the documentation to reflect the need for the wait. Mostly, I wanted to avoid a situation in which I had to cover all the possible reasons that the table creation could fail. I know it is not the best solution, but I think it can do for now.

[2020-11-11 18:01] #120 closed

[2020-11-11 18:19] finferflu commented on #120
@ucirello That makes sense. I'm not planning to use that feature myself, so this doesn't really affect me, but I just thought I'd flag it. Thanks!

[2021-08-12 07:13] obitech opened #151 "Support for aws-sdk-go-v2 ?"
Hello, is there any plan for a v2 release with support for the [aws-sdk-go-v2](https://github.com/aws/aws-sdk-go-v2) ? I'd be happy to help with contributions.

[2021-08-12 13:01] obitech commented on #151
As a starting point for discussions, I've created #152 -- would love to hear your feedback on this!

[2021-08-12 15:36] ucirello commented on #151
Hey @obitech -- Thanks for this issue and the opened PR. Per usual, I prefer people to discuss matters first before opening a PR to avoid frustration and confusion.

You may notice that this repository is a mirror of the original source, and I am already working on the support for SDK v2 on the original source.

The challenge has been so far how much of backward compatibility I want to bring about

[2021-08-12 16:05] obitech commented on #151
Thanks for your quick response! I completely understand where you're coming from and the MR is merely for discussion, I don't expect it to be merged in that state 🙂
Do you need help with CI migration? I could do a PR with migrating everything to Github Actions, if you like.

[2021-08-12 16:22] ucirello commented on #151
@obitech thanks for the generous offer - please refer to https://github.com/cirello-io/dynamolock/pull/135#issuecomment-782564328

I am OK with porting the CI to some other platform as long as it is not Microsoft-owned. Thanks again!

[2021-08-13 07:01] obitech opened #153 "Migrate to new CI/CD platform"
As mentioned in #151, I want to start a discussion about the CI/CD solution for this project (since Travis has been made unusable 😞 ). I know this repo is part of a bigger private monorepo, but I just assume we can implement CI for just this repo, or you can port over these changes to your own files as well (please correct me if I'm wrong tho!)

## Requirements
- Run main tests with two containers

[2021-08-13 07:02] obitech commented on #151
Alright, I've created a new issue for the CI/CD migration, we can discuss there. I'll close my PR for time being.

[2021-08-13 13:09] obitech opened #154 "Add Makefile and docker-compose.yml for easier testing"
I would like to improve the test workflow:

1. Add a `docker-compose.yml` with DynamoDB. This is for local development only.
2. Add a `Makefile` which brings up the DynamoDB as well as runs tests via `make test`.

Happy to discuss the details here and submit a PR :)

[2021-08-13 17:18] ucirello commented on #151
I merged in the work that I was doing at the main repository. Also, I decided to break this project away from the main repository as it is more used that I thought it was. I do not think tying its lifecycle to other lifecycles is a good idea anymore.

I am going to remove the '[Mirror]' annotation and promote it to standalone.

[2021-08-13 17:18] #151 closed

[2021-08-13 17:20] ucirello commented on #154
I'd like to move away from containerized solutions - especially to avoid hitting rate limits.

As of https://github.com/cirello-io/dynamolock/commit/6fc3fdebc67e40aea9331982f06703bd0993dac0 - I included a Makefile that downloads the binary. The test files now have a `TestMain` that starts and stops the local dynamodb lock used for testing.

[2021-08-13 17:20] #154 closed

[2021-08-13 17:23] ucirello commented on #153
Ideally from standalone companies, not subsidiaries of bigger companies.

I like Buildkite - especially because their deployment model do not force me to pollute the repository with company specific files that feel as laptop stickers (like `.github`, `.travis.yml` etc.)

[2021-08-14 14:16] obitech commented on #153
Buildkite would require some dedicated infrastructure to install the agent and run the tests. Do you have a setup that would support this?

[2021-08-14 14:17] obitech commented on #154
Ok nice 👍

[2021-08-16 22:04] ucirello commented on #153
@obitech -- I am going to check if I can get the resources in some affordable way and get back to you. I might run a sandboxed ARM agent somewhere. I want to make sure that we don't end up running crypto-mining attacks by accident.

[2021-08-28 17:34] ucirello commented on #153
An update. I am waiting for the delivery of a Raspberry Pi to run the BK agent. As soon as I have more updates, I'll share them here.

[2021-09-13 15:30] ucirello commented on #153
Addressed by https://github.com/cirello-io/dynamolock/commit/9b27c370a0ba19ad1543277349a845705cf2e3a7#diff-fb04dcb6970e4c3d1873de51fd5a50d7bb46b3383113602665c350ec40b5f990

[2021-09-13 15:30] #153 closed

[2021-11-04 12:43] or-shachar opened #155 "Introduce different logging level for each message"
Currently the v2 client prints everything using the same `Println` function, no matter if the print is meant for debug, info or error. This makes it hard to filter significant log lines in production.

WDYT changing the `ContextLogger` a bit so it can support printing status Info / Debug or Error?

[2021-11-05 04:48] ucirello commented on #155
Hi @or-shachar -- thanks for opening this issue.

I do not fundamentally oppose your idea, but at the same time, whenever I tried to add message level support to the internal logger, what I realized is that the messages rarely make sense in different level. Usually, what happens for me in the cases I have this deployed in production is that I want the whole clockwork messages exposed at a certain

[2021-11-07 09:59] or-shachar commented on #155
I understand your point. For the very least I'd separate between `INFO/DEBUG` and `ERROR`.

Our use case is simple - when monitoring production there are different log retention rules per log level.
Messages like [this](https://github.com/cirello-io/dynamolock/blob/master/client.go#L354) are very debug-like IMO and do not provide value unless you want to actually debug a problem. Messages like [th

[2021-11-08 14:24] ucirello commented on #155
@or-shachar I see where you are getting at. If anything, perhaps the right solution is to remove log messages not grade them, what do you think?

[2021-11-08 14:44] or-shachar commented on #155
That's one direction and that would be easy for us to implement a logger that does nothing on `Println`.

I do think it's valuable to allow the users to monitor and alert according to errors log messages so I wouldn't advise dropping those.

[2021-11-08 15:17] ucirello commented on #155
I think I am stuck here. Because to add graded messages, I would probably have to make a non-BC change, or make the current interface more unwieldy.

Also removing messages, might become problematic because it would break the natural Go stability promise.

I think you have a very valid suggestion for a v3. I'll take that in consideration for the next major release.

[2021-11-09 09:30] or-shachar commented on #155
Sounds reasonable! We'll wait for v3 for that.
In the meantime - I'll implement some hacky logger that would find the keyword `error` in the printed message and route it to the right level in our internal logger.

Thanks for your quick response! : 🙏

[2021-12-10 18:00] sw-square opened #157 "Add Sort Keys"
(Continued from https://github.com/cirello-io/dynamolock/pull/156#issuecomment-991162872)

It'd be quite helpful to have support for sort keys on locks. Our use case at Square is implementing a distributed load-balancing system, where locks are used to indicate that a shard is currently owned. To enable workers to pick up slack from peers that leave, we need a way to efficiently enumerate all lock

[2021-12-10 18:13] ucirello commented on #157
Require or made default?

[2021-12-10 18:23] sw-square commented on #157
It's required if a `sortKey` was passed to the `Client` when it was created, and disallowed if no `sortKey` was passed to the `Client`:

[code]

[2021-12-10 18:27] ucirello commented on #157
Could you please share how the new client signature would look like?
``` dynamolock.New(...., dynamolock.EnforceSortKeys()) ```?

[2021-12-10 18:29] sw-square commented on #157
Sure. Something like this:
[code]

[2021-12-10 18:37] ucirello commented on #157
@sw-square I think I see what you mean. I like the concept and the intention, but I think we need to iterate the solution further.

I want to avoid the situation in which you only realize that something is wrong when it is already too late. Or in different terms, by making a client with `WithSortKeyName` and erroring out if `WithSortKey` is missing, we'd be relying on the runtime to catch an error

[2021-12-10 19:34] zellyn commented on #157
I don't think you can catch sortkey presence mismatches at compile time, just like you can't notice partition key column name mismatches at compile time. After you create the client, things should just work - a missing sort key would turn into an empty string, which should be fine.

[2021-12-10 19:47] ucirello commented on #157
why not?
[code]

[2021-12-10 19:59] sysadmind commented on #157
Would NewWithSortKey not necessitate a new client type that has different method signatures for calls like `AcquireLock` in order to achieve compile time validation?

Would that make it harder to develop/use the client because now there must be 2 copies of all of the methods (one for the existing client and one for the new client type)?

[2021-12-10 20:04] ucirello commented on #157
@sysadmind that's a trade-off for sure. I am not fundamentally opposed to having a second set of interfaces, as long as it make it compile-time safe.

Try to keep in mind what happens with a typical Go developer:
[code]

Typically, gophers still don't check for what type of error they get. They just assume an error is an error and stop. If we keep things optional, we are going to have two very dis

[2021-12-10 21:50] sw-square commented on #157
You're definitely right that a mismatch doesn't _feel_ like a runtime error, but I don't think creating a whole extra type is the best way to go: Not only does it complicate the interface, but it also increases maintenance load.

I think a good compromise would be to simply `panic` if there's a sortkey mismatch, since  mismatch is definitely indicative of programatic error. Not quite as good as a

[2021-12-12 14:05] ucirello commented on #157
I see your point. Well, the constraint I am imposing is no runtime surprises. Using panic() actually makes the situation worse by killing the routine executing this code.

So runtime enforcement is ruled out as far as I am concerned. Now the question becomes how we should design this interface to not be redundant and compilation-time safe.

You made a claim I do not follow. Why a second type just

[2021-12-13 15:52] zellyn commented on #157
I believe we could make it no worse than it is right now with regard to runtime problems. Right now, if you try to create a lock, and there is no DynamoDB table, or it has the wrong schema, you'll get an error, so there are _some_ runtime error cases.

The following should cover the cases that can happen when creating locks:

|   | Lock is created without sort key | Lock is created with sort key |

[2021-12-13 17:08] ucirello commented on #157
Two cases here: a) the clockwork has a problem, b) the library wants to validate the programmer did the right thing.

I have no problems with runtime safety for (a); I want to stop expanding (b) (for example: https://github.com/cirello-io/dynamolock/blob/v1.4.0/client.go#L106-L110).

@zellyn - you presented two truth tables. Both of them do not make (a) worse. And your solution seems to not expand

[2021-12-13 17:10] ucirello commented on #157
@zellyn -- I am OK with the automagic option for now. One possible escape valve for possible confusion is that I can alway log a misconfigured `AcquireLock` with error level.

[2021-12-13 18:22] zellyn commented on #157
@ucirello let me re-articulate your "two types" approach and see if I understand.

We'd move most `Client` methods into a common internal class, say `internalClient`.

Then we'd have

[code]

`internalClient` would implement most [Client methods](https://pkg.go.dev/cirello.io/dynamolock/v2#Client):
* Close
* CloseWithContext
* CreateTable
* CreateTableWithContext
* ReleaseLock
* ReleaseLockWithCon

[2021-12-13 18:25] ucirello commented on #157
If not exactly that, pretty close. I am not sure whether CreateTable would have to be forked or not.

[2021-12-13 18:28] sw-square commented on #157
When I was writing my PR, I found it weird that `CreateTable` had an option to specify a partition key name, when it should (I think?) default to whatever the client's partition key was

[2021-12-13 18:33] ucirello commented on #157
@sw-square my idea was to have a method that would assist people to create the table the right way. As of now, I consider it a design mistake and I would be more than happy to drop this method in V3.

[2021-12-13 18:39] zellyn commented on #157
It turns out [sort key cannot be empty](https://aws.amazon.com/about-aws/whats-new/2020/05/amazon-dynamodb-now-supports-empty-values-for-non-key-string-and-binary-attributes-in-dynamodb-tables/). So the `ClientWithKey` would need to return errors if you pass in empty sort keys. That seems fine.

[2021-12-14 12:55] ucirello commented on #157
OK. Whatever path I choose here, it is going to be a rather large refractor.

I'm going to be able to work on it only in January.

[2021-12-14 17:01] sw-square commented on #157
I'd be happy to work on a PR and then submit it, if you're amenable to it

[2021-12-14 18:11] ucirello commented on #157
@sw-square let me prepare a dynamolock/v3 and then we ship it in the v3

[2021-12-14 18:21] ucirello commented on #157
@sw-square please, share with me a vision of how you are going to approach the build of this feature. It seems that the automagic version that bubbles up the Sort Key constraint errors straight from the DynamoDB API is what we are favoring here.

Because it is a major version bump, you have a bit more room to make backward compatible changes, but make them sparingly please.

Favor a string of smal

[2021-12-14 18:43] sw-square commented on #157
After discussing with @zellyn, we've decided that if you're up for it, option 2 would be best. To do this, we'd change the type definitions from
[code]
to
[code]
With this, there'd be no changes to people sing `Client` (except maybe deprecating `WithCustomPartitionKeyName`, as it's definedj within the `Client`'s constructor), and people could use the new `ClientWithSortKey` type in almost the exac

[2021-12-17 15:43] ucirello commented on #157
@sw-square v3 package is open

[2021-12-17 16:31] ucirello commented on #155
@or-shachar could you please test: 7de69a368a1d7b49d67818912103466475a7d9db

[2022-01-04 19:34] sw-square commented on #157
Slight nudge to see if you're working on this; if not I'm happy to do it myself.

[2022-01-04 20:49] ucirello commented on #157
@sw-square go ahead. I am going to reinforce what I wrote before:

[2022-01-04 20:49] #155 closed

[2022-01-04 20:57] sw-square commented on #157
Sounds good :+1:

[2022-01-04 21:50] ucirello commented on #157
@sw-square as a follow up for https://github.com/cirello-io/dynamolock/pull/160, I suggest we drop CreateTable.

[2022-01-04 23:09] sw-square commented on #157
@ucirello I like that idea, but I think there should be some way to opt out of creating the table—maybe through another `ClientOption`?

[2022-01-04 23:12] ucirello commented on #157
@sw-square - I think the table creation should be gone altogether. The client would only connect and do lock handling. Table creation would become a manual operator - as often is anyway.

[2022-01-04 23:16] sw-square commented on #157
As in removed from `dynamolock` entirely, or just as part of `Client`?

[2022-01-04 23:38] ucirello commented on #157
removed from `dynamolock` entirely.

[2022-01-05 01:08] zellyn commented on #157
I felt the same way — that table creation is better done in terraform, or the equivalent — but adding functionality to create the table if absent on first use was added in short order to both our Go and Java wrappers… people seem to like it. I think it would be better for it to remain in `dynamolock`, and then people can decide which approach they prefer.

[2022-01-05 05:01] ucirello commented on #157
@zellyn - we can always add it later. I am going to open an issue to track it.

[2022-01-05 05:02] ucirello opened #161 "Evaluate the decision of keeping/removing `CreateTable`"
refer to https://github.com/cirello-io/dynamolock/issues/157#issuecomment-1005196692

[2022-01-06 14:58] or-shachar commented on #155
Hey @ucirello  - thanks for this... I'll try to test it

[2022-01-26 19:51] sw-square commented on #161
I think that the `CreateTable` function is a good helper function in concept, as it's setting up the table in exactly the way dynamolock is expecting it. There's a few things that could be tweaked (eg not requiring you to pass the `tableName`, as that's already given through the `commonClient`), but I think overall it's definitely helpful

[2022-01-26 20:02] sw-square opened #172 "Require `partitionKeyName` in `New`."
It feels a bit awkward that `New` does not require a `partitionKeyName`, while `NewWithSortKey` requires a `sortKeyName`. I propose we change the interfaces from
[code]
to
[code]

This way, the interface is more uniform, as well as we no longer have `WithPartitionKeyName`. To the end user, there wouldn't be much difference, as all they'd have to do is supply a field such as `"lock"`.

[2022-01-26 20:44] ucirello commented on #172
The initial inspiration was the idea to reuse the same client to multiple locks. When a system needs to coordinate multiple locks, in a very large scale, the pressure to make the client lightweight increases. By moving all the requirements to the constructor, it improves the API but it might penalizes that multitude-of-locks use case.

For v3, I am ok with merging this interface and give it a try.

[2022-01-28 03:01] #172 closed

[2022-02-27 20:16] ucirello commented on #157
Ping @sw-square any updates?

[2022-03-10 04:21] ucirello commented on #157
Ping @sw-square @zellyn

If you cannot proceed further with this refactor, please let me know.

[2022-03-10 18:17] milton0825 opened #179 "How to monitor lock activeness"
Currently there is no way to check if a lock is being held using the existing library. To ensure there is a lock holder without trying to acquire the lock, we need to monitor if the record revision number has changed. Just checking if the lock is released is not sufficient since the leader could just step down without setting the `isReleased` flag to true.

One way is to expose the record revision

[2022-03-10 18:17] milton0825 commented on #179
@ucirello @sw-square

[2022-03-10 18:27] ucirello commented on #179
It seems that you want to monitor when a lock is lost, which seems to be a tricky activity in an optimistic lock design.

Why is `SendHeartbeat` not enough?

[2022-03-10 18:33] milton0825 commented on #179
Because `SendHeartbeat` is used by the lock holder to extend the lease of the lock. However and what I want here is an observer that just read the lock status and not attempting to acquire the lock.

[2022-03-10 18:36] ucirello commented on #179
And why not waiting on `Acquire` enough? Perhaps you could elaborate a bit more the kind of problem you are trying to solve.

Why do you need to keep tabs with the lock? Why does it need to be remote?  is this some kind of healthcheck monitoring system? Is this some specific deployment flow?

I am not able to understand what you are trying to achieve, which it makes me believe we could be running

[2022-03-10 18:47] milton0825 commented on #179
Some context here:
So we have a group of readers and writers. A writer leader (elected with `dynamolock`) writes the a cache and the readers read from the cache. Whenever there is a new deployment, we want to let the writer leader warm up the cache before rolling out the readers. So we are making the readers doing some healthcheck here to ensure there is a leader.

[2022-03-10 19:42] ucirello commented on #179
It seems that you want to poll a lock and react to its changes.

For the writer, you should probably use `Acquire` and `WithData()+ReplaceData()` and store a random number that's relevant internally to your application.

For the readers, you should probably use `Get` and compare the random number with a local copy of it, if it fails, you replace the previous values with the new ones.

Would this b

[2022-03-10 22:33] milton0825 commented on #179
Great I think that should be doable.

[2022-03-10 22:36] ucirello commented on #179
@milton0825 I am going to wait for your feedback before closing this issue.

Feel free to close this issue if the problem is fixed.

[2022-03-12 00:44] ucirello commented on #179
@milton0825 thanks for this issue. Please get back to me if you need more assistance.

[2022-03-12 00:46] milton0825 commented on #179
Thanks for the assistance. I think we should be good.

[2022-03-15 22:58] ucirello commented on #157
Ping @sw-square @zellyn

OK, it seems this line of work is abandoned.

[2022-03-15 23:02] ucirello commented on #161
Keeping the interface as it is.

[2022-03-15 23:02] #161 closed

[2022-03-15 23:08] #157 closed

[2022-06-15 12:24] john-kajabi opened #181 "Documentation for V2 vs. V1"

[2022-06-15 12:40] john-kajabi commented on #181
Comparing the  “acquiredLock” function in both versions, it does seem like v2 uses optimistic locking while v1 is pessimistic. I’d love to update the docs if that’s the case, lmk!